<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div> 
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1 </h1> - <h3> (years) </h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corrupti rem, vitae accusantium dolor impedit sed consectetur quas provident reiciendis mollitia, animi non soluta repellendus dolorum deserunt deleniti? Laborum, saepe. 
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2 </h1> - <h3> (years) </h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corrupti rem, vitae accusantium dolor impedit sed consectetur quas provident reiciendis mollitia, animi non soluta repellendus dolorum deserunt deleniti? Laborum, saepe. 
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3 </h1> - <h3> (years) </h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corrupti rem, vitae accusantium dolor impedit sed consectetur quas provident reiciendis mollitia, animi non soluta repellendus dolorum deserunt deleniti? Laborum, saepe. 
            </p>
        </ul>
    </div>
</div>
